.catalogo {
    font-size: 7em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 22px;
    font-family: 'Bebas Neue', cursive;


    .h2 {
        color: brown;
    }
}

.CatalogoDiapositiva {
    height: 700px;
    min-width: 100%;
    justify-content: center;
    margin-bottom: 500px;

    
}

body{
    background-image: url(/Assets/imagen/evie-s-_8vovuZCj0c-unsplash-min.jpg);
}